:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Paleta base */
  --color-blue-light: #5BC0FF;
  --color-blue-medium: #2A8AD9;
  --color-blue-deep: #5300B8;
  --color-blue-soft: #56A4DD;
  --color-blue-dark: #3961A8;

  --color-purple: #843ADD;
  --color-purple-dark: #8840A7;

  /* Gradientes */
  --gradient-main: linear-gradient(135deg, var(--color-purple), var(--color-blue-light));

  /* Fondos y transparencias */
  --bg-blue-primary: rgba(77, 178, 254, 0.84);
  --bg-blue-hover: rgba(77, 178, 254, 0.7);
  --border-blue-hover: rgba(91, 192, 255, 0.9);
  --border-blue-focus: rgba(77, 178, 254, 1);
  --shadow-blue-focus: rgba(77, 178, 254, 0.6);

  /* Texto y fondo base */
  --text-color-primary: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;

  /* Tipografía base */
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-2xl: 24px;
  --font-3xl: 28px;
  --font-4xl: 32px;
  --font-5xl: 36px;


  --font-weight-regular: 400;
  --font-weight-semibold: 500;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}