.dashboard{
    width: 100vw;
    height: auto;
    padding: 24px;
}

.cards{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-top: 16px;
}

.charts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
    gap: 16px;
    margin-top: 16px;
}


@media (max-width : 768px){
    .charts{
        grid-template-columns: 1fr;
    }
}